@charset "UTF-8";
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  line-height: 1.4;
}
h1::before, h1::after,
h2::before,
h2::after,
h3::before,
h3::after,
h4::before,
h4::after,
h5::before,
h5::after,
h6::before,
h6::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
}
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  margin-top: calc((1 - 1.4) * 0.5em);
}
h1::after,
h2::after,
h3::after,
h4::after,
h5::after,
h6::after {
  margin-bottom: calc((1 - 1.4) * 0.5em);
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.sm {
  color: #64c1b8;
}
@media screen and (min-width: 400px) {
  .sm {
    color: #e4007f;
  }
}
@media screen and (min-width: 768px) {
  .sm {
    color: #0035e4;
  }
}
@media screen and (min-width: 1000px) {
  .sm {
    color: #e4ba00;
  }
}

:root {
  --root-font-size: $baseFontSize;
  --color-main: #f8f2ef;
  --color-accentA: #64c1b8;
  --color-accentB: #e4007f;
  --color-text: #444;
  --color-bg: #f5f5f5;
  font-family: "游ゴシック体", YuGothic, "Noto Sans JP", "Zen Maru Gothic", sans-serif;
  line-height: 2.2;
  letter-spacing: 0.16rem;
  text-align: justify;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-size: 1rem;
  color: var(--text-color);
}

header .logo {
  width: 30%;
  margin: 0 auto 2rem auto;
}
header nav ul li {
  height: 80px;
}
header nav ul li .gNaviJp {
  font-size: 1rem;
}
header nav ul li .gNaviEn {
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  header .headerSP {
    display: none;
  }
}
header .headerSP .logo {
  position: relative;
  width: 40%;
  margin: 0 0 2rem 0;
}

.copyright {
  width: 100vw;
  background-color: var(--color-accentA);
  font-size: 0.625rem;
  color: #fff;
  text-align: center;
  letter-spacing: 0.08rem;
  padding: 8px;
}

button {
  display: block;
  border: 1px solid var(--color-accentA);
  color: var(--color-accentA);
  padding: 1rem 3rem;
  font-size: 0.8125rem;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1;
}
button::before, button::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
}
button::before {
  margin-top: calc((1 - 1) * 0.5em);
}
button::after {
  margin-bottom: calc((1 - 1) * 0.5em);
}

.bg_rellax {
  background-image: url(/images/bg_ptrn.png);
}

.bg_rellax--right {
  position: absolute;
  top: 24%;
  left: inherit;
  left: auto;
  right: 0;
  width: 64%;
  height: 52%;
  z-index: -1;
}

.company .inner {
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .company .inner {
    gap: 6rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.company .company__map {
  position: relative;
  width: 100%;
}
.company .company__map iframe {
  position: relative;
  width: 100%;
  height: 400px;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .company .company__map iframe {
    height: 596px;
  }
}
.company .company__info {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .company .company__info {
    height: 55%;
  }
}
.company .company__info .logo {
  width: 16rem;
  height: auto;
  margin-bottom: 4rem;
}
.company .company__info p {
  margin-bottom: 1rem;
}

.fadeUp {
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.fadeUpTrigger {
  opacity: 0;
}

.slick-arrow {
  position: absolute;
  top: calc(100% + 64px);
  left: 0;
  z-index: 1;
  width: 48px;
  height: 48px;
  border-width: 1px;
  border-style: solid;
  padding: 0;
  overflow: hidden;
}

.slick-arrow::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  top: 50%;
  left: 50%;
}

.blogPrev::before {
  -webkit-transform: translate(-50%, -50%) rotate(-135deg);
          transform: translate(-50%, -50%) rotate(-135deg);
}

.blogNext::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.blogNext {
  left: 58px;
}

.sliderInsta,
.sliderA,
.sliderB,
.sliderBlog {
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.sliderInsta.slick-initialized,
.sliderInsta.slick-initialized,
.sliderA.slick-initialized,
.sliderB.slick-initialized,
.sliderBlog.slick-initialized {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */